@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;

}
/* ////////////////////////////////////////////////////// Body /////////////////////////////////////////////////////// */
body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color: #151d27;
    color: #eee;
    padding: 15px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* ////////////////////////////////////////////////////// header /////////////////////////////////////////////////////// */
#navbar {
    width: 100%;
    background: #111;
    color: #eee;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 1;
}
#navbar-container {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    padding-left: 20px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center; 
    
}
#navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}
/* links */
a {
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: rgb(51, 51, 255);
}
.logo img{
    width: 250px;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
}


/* ////////////////////////////////////////////////////// Main /////////////////////////////////////////////////////// */
/* Section - Img, Previa, Titulo */


#container{
    align-items: center;
    display: grid;
    border-radius: 10px;
    width: 90%;
    padding: 10px; 
    margin-top: 200px; 
    margin-bottom: 40px;  
    background-color: #263241;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 10px;
    grid-template-columns: 50% 50%;  
}
@media (max-width: 768px) {
    #container{
        grid-template-columns: none;  
    }
}
#container2{
    align-items: center;
    display: grid;
    border-radius: 10px;
    width: 90%;
    padding: 10px; 
    margin-top: 200px; 
    margin-bottom: 40px;  
    background-color: #263241;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 10px;
    grid-template-columns: 25% 75%;  
}
@media (max-width: 768px) {
    #container2{
        height: auto;
        padding-bottom: 50px;
        grid-template-columns: none;  
        grid-template-rows: 50% 50%;
        align-items: center;
        position: relative;
    }
}
#container3{
    align-items: center;
    display: grid;
    border-radius: 10px;
    width: 90%;
    padding: 10px; 
    margin-top: 200px; 
    margin-bottom: 40px;  
    background-color: #263241;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 10px;
   
}
#container4{
    align-items: center;
    display: grid;
    border-radius: 10px;
    width: 90%;
    padding: 20px; 
    margin-top: 200px; 
    margin-bottom: 40px;  
    background-color: #263241;
    margin: auto;
    margin-bottom: 35px;
    margin-top: 10px;
    grid-template-columns: 55% 45%;  
}
@media (max-width: 768px) {
    #container4{
        grid-template-columns: none;  
    }
}

#testimonials-container{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
#tit{
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 115px;
   
}

#img_capa{
    height: 300px;
    width: 210px;
    border-radius: 3%;
    margin: 20px;
    margin-right: 50px;
    background-color: black;
    box-sizing: border-box;
}
@media (max-width: 768px) {
    #img_capa{
        height: 360px;
        width: 270px;
        margin-right: 0px;
        margin: 0 auto;
       
    }
}
#previa{
    font-size: 1.3rem;
    text-align: justify;
    margin-right: 40px;
}
@media (max-width: 768px) {

    #previa{
        margin-top: 10px;
        font-size:1rem;
        text-align:justify;
        margin-right: 0px;
        padding: 10px;
    }
}


/* ////////////////////////////////////////////////////// Requisitos /////////////////////////////////////////////////////// */
.testimonial3{
    width: 100%; 
}

.testimonial3 p{
    display: inline-block;
}
.testimonial3  h3{
    display: inline-block;
    
}
#requisitos{
    text-align: center;
    margin-bottom: 20px;
}
/* Requisitos icones */
#icone_requisitos1{/* cpu */
    width: 50px;    
    height: 50px;
    background-color: white;
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/4617/4617522.png" ) ;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center center;
}
#icone_requisitos1:hover{
    border: 2px solid #48648b;
    transform: translate(1px, 1px);
}
#icone_requisitos2{/* gpu */
    width: 50px;
    height: 50px;
    background-color: white;
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/1470/1470120.png" ) ;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center center;
}
#icone_requisitos2:hover{
    border: 2px solid #48648b;
    transform: translate(1px, 1px);
}
#icone_requisitos3{/* ram */
    width: 50px;
    height: 50px;
    background-color: white;
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/900/900330.png" ) ;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center center; 
}
#icone_requisitos3:hover{
    border: 2px solid #48648b;
    transform: translate(1px, 1px);
}
#icone_requisitos4{/* hdd */
    width: 50px;
    height: 50px;
    background-color: white;
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/287/287441.png" ) ;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center center;   
}
#icone_requisitos4:hover{
    border: 2px solid #48648b;
    transform: translate(1px, 1px);
}

/* //////////////////////////////////////////////// Imagens Gameplay /////////////////////////////////////////////////// */
#TEXTO_H2{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    
}
.img_gameplay {
    width: 35vw;
    height: 20vw;
    border-radius: 15px;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* //////////////////////////////////////////////// Descrição do jogo /////////////////////////////////////////////////// */
#descricao{
    font-size: 1.2rem;
    text-align: justify;
    margin: 50px;
}

/* //////////////////////////////////////////////// Trailer /////////////////////////////////////////////////// */
#trailer{
    margin: auto;
    width: 100%;
    height: 295px;
    border-radius:  15px;
}
@media (max-width: 768px) {
    #trailer{
        height: 200px;
    }
}

/* //////////////////////////////////////////////// Botão Download/////////////////////////////////////////////////// */
#download{
    color: white;
    font-weight: bold;
    padding: 15px;
    background-color: green;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
}


#download:hover{
    padding: 13PX;
    background-color: rgb(17, 0, 146);
    
}

.download{
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 15px;
    background-color: green;
    border-radius: 5px;
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
   
    
}
.download:hover{
    padding: 13PX;
    background-color: rgb(17, 0, 146);
}

/* //////////////////////////////////////////////// Jogos Recomendados /////////////////////////////////////////////////// */

/* //////////////////////////////////////////////// id /////////////////////////////////////////////////// */
#id{
    opacity: 0;
}

/* //////////////////////////////////////////////// Footer /////////////////////////////////////////////////// */
#footer {
    align-items: center;
    padding: 15px; 
    margin-top: 100px;
}
#footer p{
    text-align: center;
    font-size: 1rem;
    margin-left: 70px;
    margin-right: 70px;
    color: gray;
}

#comentarios{
    width: 90%;
    margin: auto;
    margin-top: 130px;
}