@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;

}

/* ////////////////////////////////////////////////////// Body /////////////////////////////////////////////////////// */
body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color: #0f151d;
    color: #eee;
    padding: 15px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ////////////////////////////////////////////////////// header /////////////////////////////////////////////////////// */
#navbar {
    width: 100%;
    background: #111;
    color: #eee;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 999999999999;
}
@media (max-width:768px){
    #navbar {
        height: 120px;
    } 
}

#navbar-container {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    padding-left: 20px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center
}
@media (max-width:768px){
    #navbar-container {
        height: 200px;
    } 
}

#navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}
@media (max-width:768px){
    #navbar-items {
        margin: auto;
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-left: 30px;
        padding-right: 30px;
    }
}

#navbar-items li {
    margin-left: 20px;
}
@media (max-width:768px){
    #navbar-items li {
        margin-left: 0px;
        margin: auto;
    }
}

/* links */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: rgb(38, 38, 135);
}

.logo img {
    width: 200px;
    margin: 0;

    display: block;
    position: absolute;
    top: 50%;
    left: 13%;

    transform: translate(-50%, -50%);
}
@media (max-width:768px){
    .logo img {
        left: 50%;
        top: 10%;
        transform: translate(-50%, 0%);
    }
}



/* ////////////////////////////////////////////////////// Main /////////////////////////////////////////////////////// */
/* Section - Img, Previa, Titulo */


#container {
    align-items: center;
    display: grid;
    border-radius: 10px;
    width: 90%;
    padding: 10px;
    margin-top: 200px;
    margin-bottom: 40px;
    background-image: linear-gradient(to top, #1e2c3d, #151d27d3);
    margin: auto;
    margin-bottom: 30px;
    margin-top: 10px;
    grid-template-columns: 50% 50%;
}


#container2 {
    align-items: center;
    display: grid;
    width: 100%;
    padding: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 200px;
    margin-bottom: 40px;
    background-color: #263241;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    /* degrade */
    position: relative;


    margin: auto;
    margin-bottom: 30px;
    margin-top: 10px;
    grid-template-columns: 25% 75%;

}

#fundocontainercapa {

    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-image: linear-gradient(to top, #1e2c3d, #151d27d3);
    /* border: 2px solid red; */



    z-index: 1;
}



#container3 {
    align-items: center;
    display: grid;
    border-radius: 10px;
    width: 90%;
    padding: 10px;
    margin-top: 200px;
    margin-bottom: 40px;
    background-image: linear-gradient(to top, #202e40, #19222fd3);
    margin: auto;
    margin-bottom: 30px;
    margin-top: 10px;

}


#container4 {
    align-items: center;
    display: grid;
    border-radius: 10px;
    width: 90%;
    padding: 20px;
    margin-top: 200px;
    margin-bottom: 40px;
    background-image: linear-gradient(to top, #1e2c3d, #151d27d3);
    margin: auto;
    margin-bottom: 35px;
    margin-top: 10px;

}



#container5 {
    align-items: center;
    display: grid;
    border-radius: 10px;
    width: 90%;
    padding: 20px;
    margin-top: 200px;
    margin-bottom: 40px;
    background-image: linear-gradient(to top, #1e2c3d, #151d27d3);
    margin: auto;
    margin-bottom: 35px;
    margin-top: 10px;

}



#testimonials-container {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;

}

#tit {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 115px;

}

#img_capa {
    height: 300px;
    width: 210px;
    border-radius: 3%;
    margin: 20px;
    margin-right: 50px;
    box-sizing: border-box;
    background-image: url("/img/loading-gif.gif");
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    z-index: 2;


}



#previa {
    font-size: 1.3rem;
    text-align: justify;
    margin-right: 40px;
    z-index: 2;
    text-shadow: 2px 2px 3px #111;
    color: #FFF;
}
@media(max-width:768px){
    #previa_header{
       width: 100%;
       padding-bottom: 20px;
    }
}



/* ////////////////////////////////////////////////////// Requisitos /////////////////////////////////////////////////////// */
.testimonial3 {
    width: 100%;
}

.testimonial3 p {
    display: inline-block;
}

.testimonial3 h3 {
    display: inline-block;

}

#requisitos {
    text-align: center;
    margin-bottom: 0px;
}

#Recomendados {
    text-align: center;
    margin-bottom: 0px;
}

/* //////////////////////////////////////////////// Imagens Gameplay /////////////////////////////////////////////////// */
#TEXTO_H2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: white;

}

.img_gameplay {
    width: 35vw;
    height: 20vw;
    border-radius: 15px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url("/img/loading-gif.gif");
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
}

/* //////////////////////////////////////////////// Trailer /////////////////////////////////////////////////// */
#trailer {
    margin: 0 auto;

    display: block;
    width: 768px;
    height: auto;
    height: 432px;
    border-radius: 20px;
    background-image: url("/img/loading-gif.gif");
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
}
@media(max-width:768px){
    #trailer {
        min-width: 100%;
        min-height: 200px;
    }
}



/* //////////////////////////////////////////////// Botão Download/////////////////////////////////////////////////// */
#download {
    font-weight: bold;
    padding: 15px;
    background-color: green;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 70px;
}
@media (max-width:768px){
    #download {
       position: absolute;
        top:0px ;
        margin-left: -60px;
        margin-right: 50%;
        margin-top: 50px;
    }
}


#download:hover {
    padding: 13PX;
    background-color: rgb(17, 0, 146);

}

#btnDownloadArea {
    font-size: 16px;
    position: absolute;
    top: 30%;
    right: 30%;
    width: 50px;
    height: 50px;
    z-index: 999999999;
}
@media(max-width:768px){
    #btnDownloadArea {
        font-size: 16px;
        position: absolute;
        top: 39%;
        right: 30%;
        width: 50px;
        height: 50px;
        z-index: 999999999;
    }
}

.download {
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 15px;
    background-color: green;
    border-radius: 5px;
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);


}

.download:hover {
    padding: 14px;
    background-color: rgb(17, 0, 146);
    color: white;
}

/* //////////////////////////////////////////////// Jogos Recomendados /////////////////////////////////////////////////// */

/* //////////////////////////////////////////////// id /////////////////////////////////////////////////// */
#id {
    opacity: 0;
}

/* //////////////////////////////////////////////// Footer /////////////////////////////////////////////////// */
#footer {
    align-items: center;
    padding: 15px;
    margin-top: 100px;
}
@media(max-width:768px){
    #footer  {
        margin-top: 10px;
        
 
    }
}
#footer p {
    text-align: center;
    font-size: 1rem;
    margin-left: 70px;
    margin-right: 70px;
    color: gray;
}
@media(max-width:768px){
    #footer p {
        margin-left: 10px;
        margin-right: 10px;
 
    }
}

#comentarios {
    width: 90%;
    margin: auto;
    margin-top: 130px;
}

#RecomendadosLi {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 auto;
    width: 95%;
    grid-gap: 8px;
    /*espaço*/
    justify-content: center;
    justify-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
}
@media (max-width:768px){
    #RecomendadosLi {
        grid-template-columns: repeat(2, 1fr);
    }
}


#RecomendadosLi li {
    padding: 7px;
    border-radius: 12px;
    background-image: linear-gradient(to top, #0b1116, #28384bd3);
    color: white;
    height: 100%;
    /* border: 2px solid white; */
    list-style: none;
}


#RecomendadosLi li:hover {
    box-shadow: 2px 5px 20px 5px black;
    background-image: linear-gradient(to top, #121c24, #456081d3);
    transform: translate(-5px, -5px);
    transition: 200ms;
}

#RecomendadosLi li h2 {
    max-width: 160px;
    width: 12vw;
    font-size: 1rem;
    margin-top: 0px;

    text-align: center;
    align-items: center;
    font-style: normal;
    font-weight: 200;
    margin: auto;


    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}


.gallery-items {
    display: inline-block;
    max-width: 160px;
    width: 12vw;
    max-height: 190px;
    height: 15vw;
    border-radius: 12px;

}
@media(max-width:768px){
    .gallery-items {
        display: inline-block;
        max-width: 160px;
        width: 150px;
        max-height: 190px;
        height: 250px;
        border-radius: 5px;
   
    }
}



#propaganda {
    width: 720px;
    height: 90px;
    position: fixed;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.137);
    border: 2px solid rgba(255, 255, 255, 0.404);
}

#propaganda button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 5px;
    padding-right: 7px;
    z-index: 999;
    text-shadow: 1px 1px 6px rgb(255, 255, 255);
}

#Requisitos {


    margin: auto;
    display: block;
    width: 70%;
    font-weight: 400;
    font-size: 16px;

}

/* Mensagem Aleatoria */
#MA {
    width: 300px;
    height: auto;
    max-height: 200px;
    border: 2px solid yellow;
    background-color: #111b24;
    position: fixed;
    top: 50px;
    z-index: 99;
    transform: translate(-400px);
    transition: 600ms;
    border-radius: 10px;
    z-index: 9999999999;

}

#MA>img {
    width: 90%;
    margin: 0 auto;
    display: block;
    margin-top: 10px;


}

#MA>h1 {
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
}

#MA>p {
    text-align: center;
    display: block;
    color: rgb(209, 224, 0);
    margin: 10px;
    margin-bottom: 10px;
}

#MA>button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: -25px;
    transform: translate(-50%, -50%);
    border: none;
    font-weight: bold;
}

#MA>button:hover {
    background-color: yellow;
    color: blue;
}

#header-main {

    width: 100%;
    height: 580px;
    position: relative;
    background-color: #0c1117;
    margin-top: 80px;
    display: grid;
    padding: 20px;
    padding-right: 15%;
    padding-left: 15%;
    grid-template-columns: 40% 60%;
    /*Colunas*/
    grid-template-rows: 11% 44% 15% 25%;
    grid-template-areas:
        "capa nome"
        "capa info"
        "capa genero"
        "previa previa"

    ;
}
@media (max-width:768px){
    #header-main {
        grid-template-areas:
        "nome"
        "capa"
        "genero"
        "info"
        "previa";
    
    grid-template-rows: 100px  350px 180px 200px;
    margin-top: 100px;
    grid-template-columns: 100%;
    height: auto;
    padding-bottom: 250px;
    width: 100%;
    padding: 10px;
    }

}

#fundo {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    opacity: 0.15;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}


#img_header {
    grid-area: capa;
    width: 225px;
    height: 320px;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: auto;
    margin-top: 5px;
    z-index: 1;
}
@media(max-width:768px){
    #img_header {
        grid-area: capa;
        width: 225px;
        height: 320px;
        background-repeat: no-repeat;
        border-radius: 20px;
        margin: auto;
        margin-top: 10px;
        z-index: 1;
    }
}

#info_header {
    grid-area: info;
    font-size: 17px;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    z-index: 1;
    text-shadow: 2px 2px 2px black;
}

#previa_header {
    grid-area: previa;
    width: 100%;
    height: 100%;
    font-size: 20px;
    z-index: 1;
    text-shadow: 2px 2px 2px black;
}

#genero_header {
    grid-area: genero;
    width: 100%;
    font-size: 18px;
    z-index: 1;
}
@media(max-width:768px){
    #genero_header {
        grid-area: genero;
        width: 255px;
        font-size: 18px;
        z-index: 1;
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translate(-50%, 0%);
      
        height: 80px;
        margin: auto;
        padding: 5px;

    }
    
}

#gen1 {
    background-color: #2e4559;
    box-shadow: 2px 2px 3px #111;
    min-width: 120px;
    max-width: 250px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    
    
}
@media(max-width:768px){
    #gen1 {
        margin-bottom: 5px;
        
    }
}
#gen2 {
    background-color: #2e4559;
    box-shadow: 2px 2px 3px #111;
    min-width: 120px;
    max-width: 250px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;

}

#gen3 {
    background-color: #2e4559;
    box-shadow: 2px 2px 3px #111;
    min-width: 120px;
    max-width: 250px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
}

#gen4 {
    background-color: #2e4559;
    box-shadow: 2px 2px 3px #111;
    min-width: 120px;
    max-width: 250px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;

}

#nome_header {
    grid-area: nome;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    z-index: 1;
}
@media(max-width:768px){

    #nome_header {
     
       width: 100%;
       position: absolute;
       left: 50%;
       top: 50px;
       text-align: center;
       transform: translate(-50%, -50%);
    }
}


.header_cor {

    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
}

#Lbaixar {
    position: absolute;
    top: 250px;
    right: 500px;
    width: 70px;
}