
#container_prop{
    width: 90%;
    /* border: 2px solid red; */
    margin: auto;
    display: flex;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

#prop{
    /* background-color:grey; */
    width:300px;
    height:250px;
    margin:auto;
    
   
}

#prop1{
    /* background-color:grey; */
    width:300px;
    height:250px;
    margin:auto;
  
}

#prop2{
    /* background-color:grey; */
    width:300px;
    height:250px;
    margin:auto;
    
}

#prop3{
    /* background-color:grey; */
    width:300px;
    height:250px;
    margin:auto;
}


@media (max-width: 1350px) {
    #prop1{visibility: hidden;
        width:0px;
        height:0px;
        margin: 0px;
        padding: 0px;
    }
    
}

@media (max-width: 1020px) {
    #prop2{visibility: hidden;
        width:0px;
        height:0px;
        margin: 0PX;
        padding: 0px;
       
    }
    
}

@media (max-width: 690PX) {
    #prop3{visibility: hidden;
        width:0px;
        height:0px;
        margin: 0PX;
        padding: 0px;
        
    }
    
}
