#container2{
    width: 250px;
    height: 340px;
    position: relative;
    box-shadow:  2px 2px 22px 2px black;
    margin-top: 20px;
}

#img_capa{
    margin:  0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#previa{
    text-align: center;
    margin: auto;
    width: 60%;
    margin-top: 30px;
    
}

#previa a{
    color: blue;
}

#download{
    position: static;
    margin-top: 100px;
    margin-bottom: 20px;
}

