#sidebar{
width: 30px;
height: 30px;

}

#sidebar:onclick{
    width: 200px;
    height: 300px;
    position: absolute;
    top: 10px;
    left: 0px;
}

.gallery-Recomendados{
    display: inline-block;
    max-width: 160px;
    width: 100%;
    max-height: 190px;
    height: 25vw;
    border-radius: 5px;
    box-shadow: 3px 3px 5px black;
}

