@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color: #151d27;
   
}

/*//////////////////////////////////// Header /////////////////////////////////////////////*/
#navbar {
    width: 100%;
    background: #111;
    color: #eee;
    height: 80px;
    position: fixed;
    display: inline-block;
    z-index: 1;
}

@media (max-width: 768px) {
    #navbar {
        position: relative;
        top: 0px;
        height: 150px;
    }
}

#navbar-items li {
    padding: 10px;
}

#navbar-container {
    width: 95%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* link */
a {
    text-decoration: none;
    color: inherit;
}

#logo_site {
    width: 200px;
    margin: 0px;
    margin-left: 70px;
}

@media (max-width: 768px) {
    #logo_site {
        position: absolute;
        left: 50%;
        top: 5%;

        margin: 0px;
        float: left;
        transform: translate(-50%);
    }
}

#navbar-items {
    margin-right: 30px;
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    #navbar-items {
        margin-right: 0px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    a {
        text-align: center;
        padding: 0px;
    }
}

#inicio {
    margin-right: 50px;
}

@media (max-width: 768px) {
    #inicio {
        margin-right: 30px;
        margin-left: 30px;
    }
}

/* /////////////////////////// section - showcase /////////////////////////////////// */
#showcase {
    position: relative;
    margin-top: 80px;
    width: 100%;
    height: 40vh;
    color: #eee;
    display: inline-block;
}

#showcase-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 95%;
    width: 95%;
    margin: auto;
    text-align: center;
    /* border:1px solid yellow; */
    padding-top: 80px;
    padding-bottom: 80px;
   

}

#img{
   background-image: url( "https://cdn.wallpapersafari.com/59/5/eQWfUX.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   background-blend-mode: color;
   transition:  2000ms ease;
   transform: translateX(0%);
   
}

@media (max-width: 768px) {
    #showcase {
        margin-top: 0px;
        height: 30vh;
    }
}

#Texto_Melhores_Jogos {
    font-size: 2rem;
    width: 100%;
    text-shadow: 4px 4px 4px black;
    /* border: 1px solid red;  */
    display: block;
    color: rgb(255, 255, 255);

}

#Paragrafo_baixe_os_melhores {
    font-size: 1rem;
    width: 100%;
    text-shadow: 4px 4px 4px black;
    /* border: 1px solid red; */
    padding-top: 10px;
    display: block;

}

.headline {
    color: white;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin: 30px;
    font-size: 30px;
}

/* /////////////////////////////// Galeria de Jogos ////////////////////////// */
#gallery-container {
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}

#ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 15px;
}

@media (max-width: 768px) {
    #ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

#ul li {
    width: 170px;
    height: 285px;
    background-image: linear-gradient(to top, #0b1116, #28384bd3);
    border-radius: 10px;
    list-style: none;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

@media (max-width: 768px) {
    #ul li {
        width: 160px;
        height: 275px;

    }
}

#ul li:hover {
    box-shadow: 5px 5px 10px black;
    background-image: linear-gradient(to top, #121c24, #456081d3);
    transform: translate(-5px, -5px);
    transition: 200ms;

}

#ul li img {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: block;
    width: 150px;
    height: 200px;
}

#ul li h2 {
    color: white;
    font-size: 16px;
    width: 100%;
    text-align: center;
    font-weight: 300;
    padding-left: 5px;
    padding-right: 5px;
}

/* ----------------------------------------------------------------- */

#gallery {
    float: left;
    width: 75%;
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
}

@media (max-width: 768px) {
    #gallery {
        width: 100%;
    }
}

.gallery-Recomendados {
    display: inline-block;
    max-width: 160px;
    width: 95%;
    max-height: 190px;
    height: 25vw;
    border-radius: 5px;
    box-shadow: 3px 3px 5px black;
}

#ulRecomendados li {
    list-style: none;
}

@media (max-width: 768px) {
    .gallery-items {
        width: 150px;
        max-height: 190px;
        height: 200px;
    }
}


/* /////////////////////////////// Aside ////////////////////////////// */

aside {
    float: left;
    width: 25%;
    text-align: center;
}

@media (max-width: 768px) {
    aside {
        display: none;
        width: 0px;
    }
}

#LiContainer {
    position: relative;
}

#h2Nome {
    color: #eee;
    position: absolute;
    bottom: 5%;
    left: 5%;
    text-align: left;
    text-shadow: 4px 4px 4px black;

}

#LiContainer {
    position: relative;
}

#testimonial_aside {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    background-color: rgb(112, 112, 112);
    padding: 15px;
}

#contailer_recomendados {
    position: relative;
    width: 95%;
}

.img_gameplay {
    max-width: 100%;
    min-width: 100%;
    width: 600px;
    height: auto;
    border-radius: 15px;
}

.jogos {
    min-width: 20px;
    height: 15vw;
    width: 100%;
    border-radius: 15px;
    background-color: blue;
}

.jogos:hover {
    border: 4px solid blue;
}

/* /////////////////////////////// footer ////////////////////////////// */
#footer {
    width: 100%;
    color: gray;
    padding: 20px;
    text-align: center;
}


.ls-pagination-filter {
    width: 100%;
    margin: auto;

}

.ls-pagination {
    display: flex;
    width: 400px;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;

}
@media (max-width: 768px) {
    .ls-pagination  {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
   
    
    }
}
.ls-pagination li {
    list-style: none;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #eee;
    min-width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;

}
@media (max-width: 768px) {
    .ls-pagination li {
       
        margin-left: 0px;
        margin-right: 0px;
       
        max-width: 20px;
        height: 35px;
        
        padding: 10px;

    
    }
}


.ls-pagination li:hover {
    background-color: #3e5269;
    color: white;
}

#textPaginas {
    color: white;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;

}




#AlfabeticoBTN {
    /* border: 1px solid red;  */
    width: 80%;
    margin: auto;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
   
}
@media (max-width: 768px) {
    #AlfabeticoBTN {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        height: 130px;
        display: inline-block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

#AlfabeticoBTN .btn {
    background-color: #3e5269;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    font-weight: 200;
    margin: auto;
    align-items: center;
    justify-content: center;

}
@media (max-width: 768px) {
    #AlfabeticoBTN .btn {
     
        width: 25px;
        height: 25px;
        margin: 5px;
        font-size: 16px;
    
    }
}

#AlfabeticoBTN .btn:hover {
    box-shadow: 2px 5px 20px 5px black;
    border: 1px solid white;
}

#propaganda {
    width: 720px;
    height: 90px;
    position: fixed;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.137);
    border: 2px solid rgba(255, 255, 255, 0.404);
}

#propaganda button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 5px;
    padding-right: 7px;
    z-index: 999;
    text-shadow: 1px 1px 6px rgb(255, 255, 255);
}


#Aviso_Responsividade{
    width: 300px;
    height:150px;
    border-radius: 20px;
    position: fixed;
    
    background-color: #0b1116;
   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 999;
}
#Aviso_Responsividade > p{
    width: 100%;
    line-height: 30px;
    font-size: 18px;
    color: #FFF;
    text-align: center;
}
#Aviso_Responsividade button{
width: 30px;
height: 30px;
border-radius: 50%;
font-weight: 900;
position: absolute;
top: -15px;
right: -15px;
}