#navbar {
    height: 120px;
    z-index: 1;

}

/* //////////////////////////////////////////////////////// */

.logo img {
    width: 150px;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

#voltar {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(-50%, -50%);

}


/* //////////////////////////////////////////////////////// */

/* titulo */
#tit {
    margin-top: 150px;
    font-size: 1.3rem;
}

/* //////////////////////////////////////////////////////// */


/* //////////////////////////////////////////////////////// */


/* //////////////////////////////////////////////////////// */

#TEXTO_H2 {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;


}

/* //////////////////////////////////////////////////////// */

/* container de imagens do jogo e gif  e texto*/
.testimonial {
    width: 95%;
    font-size: 1.2rem;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    margin-bottom: 25px;
    margin-top: 0px;


}

.testimonial2 {
    width: 95%;
    margin-bottom: 20px;

}

.testimonial3 {
    width: 95%;


}

/* itens do conteiner imagens do jogo e gif */
.img_gameplay {
    height: 170px;
    width: 280px;
    border-radius: 3%;
    margin: 15px;
}

@media (max-width: 768px) {
    .img_gameplay {
        height: auto;
        width: 90%;
    }

}

/* //////////////////////////////////////////////////////// */

#descricao {
    font-size: 1rem;
    text-align: justify;
    margin: 0px;

}

/* //////////////////////////////////////////////////////// */


/* //////////////////////////////////////////////////////// */



/* //////////////////////////////////////////////////////// */

/*Jogos recomendados */
#gallery {
    width: 95%;
}

#gallery-container {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    /*espaço*/
    justify-content: center;
}

/* items Jogos recomendados */
.gallery-items {
    display: inline-block;
    width: 150px;
    height: 200px;
    border-radius: 5px;
}

.galerry-items h2 {
    font-size: 1.2rem;
}

.gallery-items:hover {
    display: inline-block;
    width: 150px;
    height: 200px;
    border-radius: 5px;
    border: 3px solid blue;
}

/* //////////////////////////////////////////////////////// */

#footer p {
    text-align: center;
    font-size: 1rem;
    margin-left: 5px;
    margin-right: 5px;
}

/* //////////////////////////////////////////////////////// */

.testimonial3 p {
    text-align: center;
    margin-bottom: 10px;
    margin: auto;
    display: inline-block;
    /* border: 2px solid rgb(255, 255, 255); */
    padding: 5px;
}

.testimonial3 {
    margin: auto;
}

.testimonial3 h3 {
    /* border: 2px solid rgb(228, 0, 0); */
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    margin-right: 0px;
}

#container_requisitos {
    border: 2px solid black;
    position: relative;
    height: 80px;
}