body{
    background-color: black;
}
#mensagemtela{
    margin: auto;
    text-align: center;
    display: none;
    color: white;
}
@media(max-width:768px){
    #mensagemtela{
        margin: auto;
        text-align: center;
        display: block;
        color: white;
    }
}
#play{
    display: block;
    transition: 200ms;
    background-image: url(img/btn_play.png);
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 65px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
#play:hover{
    transform: translate(-50%, -40%);
    
}

#cenario{

    width: 1000px;
    height: 500px;
    position: relative;
    margin: auto;
    margin-top: 50px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    
}
#mutar_musica{
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid green;
    z-index: 3;
    background-image: url(img/som_img.png);
    background-position: center;
    background-size: 130%;
}
#reset{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    border: none;
    z-index: 3;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: white;
    background-color: red;
}

#player_img{
    width: 300px;
    height: 250px;
    position: absolute;
    bottom: 185px;
    left: 15%;
    z-index: 1;
    /* border: 2px solid red; */
    background-image: url("https://cdn.domestika.org/c_limit,dpr_1.0,f_auto,q_auto,w_820/v1586415165/content-items/004/129/278/personaje-parada-original.gif?1586415165");
    background-position-y: 7px;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 130%;
    
    
}
#chao{
    width: 100%;
    height: 185px;
    position: absolute;
    bottom: 0%;
    border-radius: 0px 0px 20px 20px;
    background-size: cover;
    
    background-image: url("https://static.vecteezy.com/ti/fotos-gratis/p2/5628385-parede-tijolo-textura-parede-pedra-textura-parede-pedra-foto.jpg");
}

#inimigo_img{
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 185px;
    right: -15%;
    display: none;
    background-size: 50%;
    /* border: 2px solid red; */
    background-position-y: 47px;
    background-position-x: center;

}
#mensagem{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: yellow;
    top: 15%;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.821);
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    
}
#player_img{
    transition:  500ms;
    background-position: center;
    background-position-y: 7px;
    background-repeat: no-repeat;
    background-size: 130%;
}
#inimigo_img{
    transition: 500ms;
    
    display: none;
    
    
    
}

#atributos_player{
    color: rgb(123,62,18);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 50px;
    padding-top: 60px;
    padding-left: 55px;

    position: relative;
    text-align: center;
    line-height: 20px;
   
    
    margin: auto;
    

    position: absolute;
    left: 0px;
    bottom: -5px;

    height: 85px;
    width: 85px;

    background-image: url("img/pergaminho.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

#atributos_inimigo{
    color: rgb(123,62,18);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 50px;
    padding-top: 70px;
    
    display: none;
    position: relative;
    text-align: center;
    line-height: 20px;
   
    
    margin: auto;
    

    position: absolute;
    right: 0px;
    bottom: -10px;

    height: 85px;
    width: 85px;

    background-image: url("img/pergaminho.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cards{
    transition:all 150ms;
    display: block;
    position: absolute;
    top: -70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background-color: rebeccapurple;
    z-index: 2;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 4;
    
}


.cards:hover{
    border: 4px solid white;
}
.cards h1{
    color: rgb(0, 0, 0);
    background-color: white;
    display: inline-block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    font-family: monospace;
    position: absolute;
    right: 10px;
    box-shadow: 2px 2px 7px black;
}
#level{
    color: yellow;
    font-size: 18px;
    text-shadow: 1px 1px 3px rgb(2, 1, 1);
    font-weight: bold;
    position: absolute;
    right: 10px;
   
}
#comentarios{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

#controle{
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
    
    padding-left: 20px;
    padding-right: 20px;
    
    background-color: #15436d;
    border: 3px solid #8b8cb4;
    box-shadow: 3px 3px 5px black;
    border-radius: 20px;
 
}
#bag{
    transition: 300ms;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: none;
    width: 40px;
    height: 40px;

    
    border-radius: 15px;
    background-color: rgb(176,111,82);
    border: 3px solid rgb(80, 48, 33);

    z-index: 4;
}

#bag button{
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: rgb(80, 48, 33);
    color:rgb(176,111,82) ;
    position: absolute;
    top: 5px;
    right: 5px
}
#mochila{
    background-image: url(img/bag_img.png);
    background-position: center;
    background-size: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid black;
    margin: 10px;
}
#atacar{
    background-image: url(img/icone_ateque_basico.jpg);
    background-position: center;
    background-size: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid green;
    margin: 10px;
}
#atacar:hover{
    border: 3px solid blue
   
}